<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./partials/head.ejs') %>
<body>
    
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>My name is snec. My body long. My head is smol. But jaw is strong. When it time, to get me fed. I open wide. I monch the bread.</p>
        <p>Kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds kobolds.</p>
        <p>Dragon lizards, lizard dragons. Dragon lizards, lizard dragons. Dragon lizards, lizard dragons. Dragon lizards, lizard dragons. Dragon lizards, lizard dragons. Dragon lizards, lizard dragons.</p>
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %> 
</body>
</html>