<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include('./partials/head.ejs') %>
<body>
    
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <p>Error 404 - No dragons...</p>
    </div>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>